@import './src/assets/fonts';

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #E4E4E4;
  font-family: Open Sans Condensed, fantasy;
}

h1{
  font-family: Playfair Display, cursive;
}



.fail{
  width: 100%;
  height: 200px;
  background: coral;
  opacity: 30%;
}