<loader>
    <div if={ props.visible }>
    </div>

    <script>

    </script>

    <style>
        :host{
            position: absolute;
            right: 45%;
            bottom: 10%;
            z-index: 999;
            color: magenta;
            width: 5vh;
            height: 5vh;
            text-align: center;

        }

    </style>
</loader>